{
    "extends": "mzgol",

    "root": true,

    "env": {
        "node": true
    },

    "rules": {
        // Rules are divided into sections from http://eslint.org/docs/rules/

        // ECMAScript 6
        "prefer-reflect": 0 // TODO enable when Node supports it
    }
}
